*{  /*Intenté aplicarlo en body, pero no funcionaba, ¿Por qué?*/
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    /*Creo variables para el tipo de letra*/
    --fuente-principal: 'Raleway', sans-serif;
    --fuente-secundaria: 'Open Sans', sans-serif;
    font-family: var(--fuente-principal);
    font-weight: 400;
    z-index: 0;
}

body{

min-width: 320px;
font-size: 16px;

}

img {
    max-width: 100%;
 }
/*NAV*/

header{
    width: 100%;
    height: 70px;
    border-bottom:rgba(0, 0, 0, 0.29);
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
}
#logo{
   color: #08A6E4;
   font-size: 32px;
   margin-left: 25px;
   font-weight: 300;
   position:absolute;
}
.dropdownbutton{
    border: none;
    background: none;
    min-width: 40px;
    margin-right: 30px;
    
}

.dropdownbutton__bar{
position: relative;    
}
#imEquis{
    display: none;
}

nav{
    width: 100%;
}

.list{
    display: none;
    flex-direction: column;
    margin-top: 300px;
    width: 123%;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    position: sticky;
    padding-left: 25px;
}

.list__item{
    border-bottom: 4px solid rgb(255, 255, 255);
    cursor: pointer;
    
}

.list__item > a{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    font-family: var(--fuente-secundaria);
    color: #A5A5A5;
    font-style: bold;
    letter-spacing: 3px;
    display: block;
    padding: 10px;
}
.list__item:first-child{
    margin-top: 40px;
}
.list__item:last-child{
    padding-bottom: 29px;
}


#returnTop{
    display: none;
}

/* POP-UP */
.popup{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
   visibility: hidden;
}
.popup__cont{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px #777575;
    background-color: #F7F7F7;
    padding: 10px 10px 0 10px;
}
.popup__cont > img{
    float: right;
    width: 25px;
    cursor: pointer;
}
#form-popup{
    
    padding-top: 15px;
    
}
.form-divs{
    padding: 16px;
    text-align: left;
}
.cor-nam{
    color: #08A6E4;
    line-height: 14.98px;
    font-size: 14px;
}
.form-divs-right{
    text-align: right;
    
}
.form-divs-right >button{
    width: 150px;
    height: 50px;
    background-color: #07ACE6;
    border-radius: 23px;
    font-family: var(--fuente-secundaria);
    color: #FFFFFF;
    border: #07ACE6;
    font-size: 13px;
    font-weight: 800;
    line-height: 17.7px;
    cursor: pointer;
}
.inter{
    font-size: 10px;
}

#correo-popup{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    background-color: transparent;
    width: 100%;
}
/*MAIN*/

.main{
    width: 100%;
    height: auto;
    align-items: center;

}
.main__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    margin-top: 60px;
    text-align: center;
    padding: 0 20px;
}
.main__text h2{
    font-size: 35px;
    margin-bottom: 0px;
    line-height: 41px;
}
.main__text p{
    font-family: var(--fuente-secundaria);
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    padding: 5px 34px 20px 34px;
    max-width: 300px;
}

.main__text button{
    top: 316px;
    left: 33px;
    width: 310px;
    height: 67px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px #21a0ce29;
    border-radius: 40px;
    font-family: var(--fuente-secundaria);
    color:#FFFFFF;
    border: #08A6E4;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    }
.main__img{
    width:100%;
    height: 267px;
    background-image: url('img/Background.png');
    background-size: cover;
    background-position: center center;
}


.main__publi{

text-align: center;
margin-bottom: 25px;
margin-left: 20px;

}

.main__publi h3{
    padding-right: 20px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    width: 300px;
}
    /*ICONOS*/
.main__ico-text, .main__ico2-text,
.main__ico3-text{
    height: 48px;
    width: 126px;
    text-align: center;

}
/*--ICO1-*/

.main__ico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}
.main__ico-ico, .main__ico-img, .main__ico-text{
    margin: 10px;
    
}


.main__ico-ico{
    display: flex;
}

.main__ico-ico-circle{
    background-color: #FB3B64;
    position: relative;
    height: 63px;
    width: 63px;
    border-radius: 50%;
}
.main__ico-ico-person{
    position: absolute;
    margin-left: 30px;
}

/*-----*/

.main__ico-img{
    padding-left: 5px;
}

.main__ico-text{
    font-size: 17px;
    line-height: 20px;
    font-family: var(--fuente-principal);
    color: #A5A5A5;
}


/*--ICO2--*/

.main__ico2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}
.main__ico2-ico, .main__ico2-img, .main__ico2-text{
    margin: 10px;
    
}

.main__ico2-ico{
    display: flex;
}

.main__ico2-ico-circle{
    background-color: #08A6E4;
    position: relative;
    height: 63px;
    width: 63px;
    border-radius: 50%;
}
.main__ico2-ico-person{
    position: absolute;
    margin-top: 14px;
    margin-left: 23px;
}

/*-----*/

.main__ico2-img{
    padding-left: 5px;

}

.main__ico2-text{
    font-size: 17px;
    font-family: var(--fuente-principal);
    line-height: 20px;
    color: #A5A5A5;
}

/*--ICO3--*/

.main__ico3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.main__ico3-ico, .main__ico3-img, .main__ico3-text{
    margin: 10px;
    
}

.main__ico3-ico{
    display: flex;
}

.main__ico3-ico-circle{
    background-color: #55DFB4;
    position: relative;
    height: 63px;
    width: 63px;
    border-radius: 50%;
}
.main__ico3-ico-person{
    position: absolute;
    margin-top: 6px;
    margin-left: 31.34px;
}


.main__ico3-img{
    padding-left: 5px;

}

.main__ico3-text{
    font-size: 17px;
    font-family: var(--fuente-principal);
    line-height: 20px;
    color: #A5A5A5;
}





/*CONTENEDOR GRID*/

.grid{
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 42px;
    background-color: #F7F7F7;
    margin-top: 70px;
    margin-bottom: 37.36px;
    position: relative;
    align-content: center;

    
}

.grid__containers{
    width: 314px;
    height: 370px;
    background-color: #FFFFFF;
    padding: 21px 30px;
    margin-top: 20px;
    position: relative;
    
}

hr{
    display: none;
    margin-left: 0;
    width: 75%;
}

/*GRIDS INDIVIDUALES*/

/*CARD 1*/

.grid__containers-card1-div{
    position: relative;
    text-align: center;
    font-weight: 600;
    line-height: 21px;
}

.grid__containers-card1-div-img{
    position: relative;
    padding-top: 5px;
    width: 192.76px;
    height: 109.93px;
}

.grid__containers-card1-div-circle{
    background-color: #FB3B64;
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 41px;
    margin-left: 120px;
    position: absolute;
    left: 23px;
    bottom: 33px;
    transform: rotate(45deg);
    padding-top: 42px;

  
}

.grid__containers-card1-tit{
    font-size: 30px;
}
.grid__containers-card1-text{
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    line-height: 21px;
    padding-top: 20px;
}

/*CARD 2*/


.grid__containers-card2-div{
    text-align: center;
    position: relative;
}

.grid__containers-card2-div-img{
    position: relative;
    width: 175px;
    height: 134.99px;
}

.grid__containers-card2-div-circle{
    background-color: #08A6E4;
    position: absolute;
    height: 131px;
    width: 131px;
    border-radius: 50%;
    left: 45px;
    bottom: 19px;
}

.grid__containers-card2-tit{
    font-size: 30px;
    width: 250px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.grid__containers-card2-text{
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    line-height: 21px;
}


/*CARD 3*/
#card-3{
    margin-bottom: -133px;
    padding-top: 5px;
}

.grid__containers-card3-tit{
    font-size: 30px;  
}
.grid__containers-card3-text{
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    line-height: 21px;

}


/*CARD 4*/


#card-4{
    height: 195px;
    background-color: #55DFB4;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 35px;

}

.grid__containers-img{
    position: absolute;
    margin-left: -48px;
}


/*PALABRA "PRICING"*/

.last__pricing{
    font-size: 36px;
    line-height: 42.26px;
    text-align: center;
    position: relative;
    padding-top: 43px;
}



/*PRECIO dentro de la clase "last"*/

.last{
    
    width: 100%;
    height: auto;
}

/*Para recoger 3 tarjetas*/
.last__prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -19px;
}



.last__prices-containers > *{
    margin-bottom: 54px;
}

/*PRIMER CUADRO*/

.last__prices-basic{
    width: 293px;
    height: 251px;
    border:1px solid #FB3B64;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 90% 10%;
    position: relative;
}

.last__prices-basic-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last__prices-basic-left-op{
    font-size: 20px;
    margin-top: 70px;
    line-height: 24px;
    font-weight: 700;
    color: #13253B;
}
.last__prices-basic-left-pr{
    font-family: var(--fuente-secundaria);
    font-size: 46px;
    color: #FB3B64;
    margin-top: -18px;
    font-weight: 300;
}


.last__prices-basic-right{
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    padding-top: 20px;

}


.last__prices-basic-right-container :last-child{
    margin-top: 9px;
}

.last__prices-basic-right-container p{
    font-size: 14px;
    font-family: var(--fuente-secundaria);
    display: inline-block;

    
}
.last__prices-basic-right-container img{
    display: inline-block;
    
}

.last__prices-basic-button{
    position: absolute;
    margin-top:225px;
    margin-left:71.5px;
    width: 150px;
    height: 50px;
    background-color: #EB476E;
    border-radius: 23px;
    font-family: var(--fuente-secundaria);
    color:#FFFFFF;
    border: #EB476E;
    font-size: 13px;
    font-weight: 800;
    line-height: 17.7px;


}

/*SEGUNDO CUADRO*/

.last__prices-profe{
    width: 293px;
    height: 251px;
    border:1px solid #07ACE6;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 90% 10%;
    position: relative;
}

.last__prices-profe-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last__prices-profe-left-op{
    font-size: 20px;
    margin-top: 70px;
    line-height: 24px;
    font-weight: 700;
    color: #13253B;
}
.last__prices-profe-left-pr{
    font-family: var(--fuente-secundaria);
    font-size: 46px;
    color: #07ACE6;
    margin-top: -10px;
    font-weight: 300;
}
.last__prices-profe-left-of{
    margin-top: -39px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: #13253B;
}


.last__prices-profe-right{
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    margin-top: 23px;
}



.last__prices-profe-right-container :last-child{
    margin-top: 9px;
}
.last__prices-profe-right-container img{
    display: inline-block;
}
.last__prices-profe-right-container p{
    font-size: 14px;
    font-family: var(--fuente-secundaria);
    display: inline-block;
}

.last__prices-profe-button{
    position: absolute;
    margin-top:225px;
    margin-left:71.5px;
    width: 150px;
    height: 50px;
    background-color: #07ACE6;
    border-radius: 23px;
    font-family: var(--fuente-secundaria);
    color:#FFFFFF;
    border: #07ACE6;
    font-size: 13px;
    font-weight: 800;
    line-height: 17.7px;
}




/*TERCER CUADRO*/

.last__prices-premium{
    width: 293px;
    height: 251px;
    border:1px solid #55DFB4;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 90% 10%;
    position: relative;
    
}


.last__prices-premium-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last__prices-premium-left-op{
    font-size: 20px;
    margin-top: 70px;
    line-height: 24px;
    font-weight: 700;
    color: #13253B;
}
.last__prices-premium-left-pr{
    font-family: var(--fuente-secundaria);
    font-size: 46px;
    color: #55DFB4;
    margin-top: -15px;
    font-weight: 300;
    
}
.last__prices-premium-left-of{
    margin-top: -39px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: #13253B;
}


.last__prices-premium-right{
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    margin-top: 23px;
}
.last__prices-premium-right-container :last-child{
    margin-top: 9px;
}

.last__prices-premium-right-container img{
    display: inline-block;
}
.last__prices-premium-right-container p{
    font-size: 14px;
    font-family: var(--fuente-secundaria);
    display: inline-block;
}

.last__prices-premium-button{
    position: absolute;
    margin-top:225px;
    margin-left:71.5px;
    width: 150px;
    height: 50px;
    background-color: #55DFB4;
    border-radius: 23px;
    font-family: var(--fuente-secundaria);
    color:#FFFFFF;
    border: #55DFB4;
    font-size: 13px;
    font-weight: 800;
    line-height: 17.7px;
}


/*"ANY QUESTIONS" Y EL FORMULARIO*/


/*Esta clase es para el responsive*/
.last__pregform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Separación entre preguntas y formulario*/


/*PREGUNTAS*/


.last__pregform-preg{
    display: flex;
    flex-direction: column;
    width: 314px;
    height: 280px;

}
.last__pregform-preg-text{
    margin-bottom: 38px;
}
.last__pregform-preg-text h2{
    font-size: 40px;
    line-height: 47px;
   
}

.last__pregform-preg-text p{
    font-family: var(--fuente-secundaria);
    margin-top: -25px;
    
}

.last__pregform-preg-info{
    display: flex;
    flex-direction: column;
}
.last__pregform-preg-info-container2{
    margin-top:10px;
}
.last__pregform-preg-info-container2 a{
    color: #A5A5A5;
    line-height: 22px;
    font-weight: 600;
}

.last__pregform-preg-info-container1 a{
    margin-bottom: 16px;
    color: #A5A5A5;
    line-height: 22px;
    font-weight: 600;

}


/*FORMULARIO*/

.last__pregform-form{
    width: 314px;
    height: 450px;
}
.last__pregform-form-formu{
    position: relative;
}

.last__pregform-form-formu-name, 
.last__pregform-form-formu-email{
        font-family: var(--fuente-secundaria);
        color: #08A6E4;
        line-height:14.98px;
        font-size: 11px;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        letter-spacing: 3.28px;
        
}   
/*Clases agregadas solo a CORREO(input) desde js atraves de classList.add()*/
.correctValues{
    border: none;
    border-bottom: 2px solid #55DFB4;
    
}
.incorrectValues{
    border: none;
    border-bottom: 2px solid red;
}

.inp{
    border: none;
    border-bottom: 1px solid #95989A;
    outline: none;
    background-color: transparent;
}
#fname:hover, #correo:hover{
    outline: 2px ridge rgba(15, 153, 208, 0.6);
    border-radius: 1px;
}
/* #fname:invalid:focus{
    border-bottom: 2px solid red;
}
#fname:valid:focus{
    border-bottom: 2px solid #55DFB4;
} */

.last__pregform-form-formu-aceptar{
    display: flex;
    justify-content: flex-end;
}
.last__pregform-form-formu-aceptar{
    margin-left: 20px;
    font-size: 12px;
    font-family: var(--fuente-secundaria);
    color: #707070;
}

    
.last__pregform-form-formu-aceptar-checkbox{
    position: absolute;
    display: inline-block;
    width: auto;
    height: 19px;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}


/*--------------------------*/
.last__pregform-form-formu-aceptar button{
    margin-top: 22px;
    width: 226px;
    height: 57px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px #21a0ce29;
    border-radius: 40px;
    font-family: var(--fuente-secundaria);
    color:#FFFFFF;
    border: #08A6E4;
    font-size: 13px;
    font-weight: 800;
    line-height: 17.7px;
}

.n{
    font-weight: 600;
}
#conditions{
    color:#707070;
    
}

/*FOOTER*/

footer{
    background-color: #F7F7F7;
    width: 100%;
    height: 89px;
    border-bottom:rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px -3px 6px #00000029;
}


.footer__imgs{
    display: flex;
    padding-right: 30px;
}
.footer__imgs :first-child{
    margin-right: 8px;
}
#logo2{
    color: #08A6E4;
    font-size: 26px;
    font-weight: 300;
    margin-left: 25px;
    line-height: 30px;
 
 }


.footer__logo-container1 p{
    display: inline;
    margin-left: -8px;
    
}
.footer__logo-container2{
    margin-left: 17px;
    font-size: 11px;
    font-family: var(--fuente-secundaria);
    color: #A5A5A5;
}

.footer__logo-container2 p{
    margin-left: 9px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 15px;
}




/*-------------------------------------------------*/
@media only screen and (min-width:1000px){
header{

    display: block;
    box-shadow: 0px 3px 6px #00000010;
}



#progressbar{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}
#progressbar__inner{
    position: relative;
    width: 0%;
    height: 3px;
    padding: 0;
     /*He utilizado la página https://cssgradient.io/ para crear un gradiante de los tres colores de la página*/
     background: linear-gradient(90deg, rgba(85,223,180,1) 0%, rgba(7,172,230,1) 36%, rgba(235,71,110,1) 100%);
}


.dropdownbutton{

    display: none;
}
#logo{
    margin: 17px 136px;
}

.list{
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    width: auto;
    position: sticky;
    background-color: transparent;
    box-shadow: none;
}

.list__item{
    
    margin-right: 60px;

}

.list__item a{
    font-weight: 900;
    font-weight: bolder;

}
.list__item:first-child{
    margin-top: 0px;
}
.list__item:last-child{
    padding-bottom: 0px;
}
     /*SOMBREADOS*/
.list__item:hover{
    border-bottom: 4px solid #08A6E4;
 }/*-------------------*/
 .list__item a:hover{
    color: #000000;
 }
 

 /*-----BOTÓN FLOTANTE-------*/

 #returnTop{
        position: fixed;
        display: block;
        left: 92%;
        top: 83%;
        z-index: 1;
        cursor: pointer;
        border: transparent;
        border-radius: 30%;
        background-image: none;
        background-color: transparent;
 }
 #returnTop__im{
    padding: 4px;
 }
 
 #returnTop:hover{
    background-color: #b2d3df;
 }
 /*----Pop-Up----------*/
 .popup__cont{
     width: 50%;
 }
    
    /*---Ajustar imagen--*/
.main__text h2{
    font-size: 49px;
}
.main__text p{
    min-width: 1000px;
}
.main__img{
    height: 594px;
}
.main__publi{
    padding-top: 40px auto;

}
.main__publi h3{
    font-size: 36px;
    width: 100%;
    margin: 0 auto;
    line-height: 42px;
    font-weight: 400;
}
.main__ico2{
    margin: 0 190px;
}
.main__ico3{
    margin: 0;
}
/*Shadow cuando pasamos el ratón sobre el botón*/
.main__text button:hover{
    box-shadow:  7px 5px 12px 1px rgba(7,172,230,0.29);
    cursor: pointer;
}

/*ICONOS DEBAJO DE LA IMAGEN*/
.colocar_iconos{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    
}
.grid{
    padding-bottom: 50px;

}

/*COLOCAR GRID*/
.grid__containers{
    width: 1124px;
    height: 370px;
    display: flex;
    
}


.grid__containers-card1{
    flex-direction: row-reverse;
}

.grid__containers-card1-div{
    flex-basis: 140%;
}

.grid__containers-card1-tit{
    padding-top: 30px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}
.grid__containers-card1-text{
    font-weight: 400;
    font-size: 16px;
}
.grid__containers-card1-line{
    padding-top: 20px;
}
.grid__containers-card1-line hr{
    background-color: #FB3B64;
    display: block;
    width: 327px;
    height: 4px;
    border: none;
}


.grid__containers-card2-div{
    flex-basis: 140%;
}
.grid__containers-card2-tit{
    padding-top: 20px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}
.grid__containers-card2-text{
    font-weight: 400;
    font-size: 16px;
}
.grid__containers-card2-line{
    padding-top: 20px;
}

.grid__containers-card2-line hr{
    background-color: #08A6E4;
    display: block;
    width: 327px;
    height: 4px;
    border: none;
}

.grid__containers-card1-div-img{
    margin-top: 65px;
    margin-right: 10px;
    height: 219px;
    width: 386px;
    width: auto;

}
.grid__containers-card1-div-circle{
    width: 180px;
    height: 180px;
    top: 38px;
    left: 210px;

}


.grid__containers-card2-div-circle{
    width: 320px;
    height: 320px;
    bottom: 10px;
    left: 25px;
}
.grid__containers-card2-div-img{
    height: 328px;
    width: 426px;
    top: 20px;
    right: 70px;
}

#card-3{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    
}
.grid__containers-card3-tit{
    padding-top: 30px;
    padding-right: 150px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    width: 550px;
}

.grid__containers-card3-line{
    margin-top: 20px;
   
}
.grid__containers-card3-text{
    padding-right: 60px;
    font-weight: 400;
    font-size: 16px;
    width: 500px;
}
.grid__containers-card3-line hr{
    display: block;
    background-color:#55DFB4;
    width: 327px;
    height: 4px;
    border: none;
}

.mov{
    display: flex;
    width: 1124px;

}

#card-4{
    height: 370px;
    margin-left: 30px;
    flex-basis: 60%;
    margin-bottom: 0;
    margin-top: 20px;
}
.grid__containers-img{
    top: 88px;
    width: 265.73px;
    height: 207.72px;
    left: 80px;
}
.last__pricing{
    padding-bottom: 40px;
}

.last__prices{
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}


.last__prices-basic-right, .last__prices-profe-right,
.last__prices-premium-right{
    text-align: center;
}



.last__prices-basic-left-op, .last__prices-profe-left-op,
.last__prices-premium-left-op{
    margin-top: 30px;
}
.last__prices-basic-left-pr, .last__prices-profe-left-pr,
.last__prices-premium-left-pr{
    margin-top: 5px;
    font-weight: 300;
}
.last__prices-profe-left-of,
.last__prices-premium-left-of{
    font-size: 12px;
}


.last__prices-basic:hover, .last__prices-profe:hover, 
.last__prices-premium:hover{
    box-shadow:  7px 5px 12px 1px rgba(7,172,230,0.29);
    cursor: pointer;

}

.last__prices-basic-button:hover, .last__prices-profe-button:hover,
.last__prices-premium-button:hover{
    box-shadow:  7px 5px 12px 1px rgba(7,172,230,0.29);
    cursor: pointer;
}
.last__prices-containers{
    padding-right: 50px;
}
.last__pregform{
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    margin-top: 120px;
}
.last__pregform-form{
    width: 440px;
}
.last__pregform-preg{
    padding-right: 100px;
    width: auto;
}
.last__pregform-preg-text h2{
    margin-top: 0;
    font-size: 49px;
}

.last__pregform-form-formu-aceptar{
    font-family: 'Open Sans';
    font-size: 12px;
    color: #707070;
}

.last__pregform-form-formu-aceptar button{
    left: 220px;
 
}
.last__pregform-form-formu-email{
    padding-bottom: 10px
}
.last__pregform-form-formu-aceptar button:hover{
    box-shadow:  7px 5px 12px 1px rgba(7,172,230,0.29);
    cursor: pointer;
   
}


/*efecto de ampliar cajas*/
.last__prices-profe:hover, 
.last__prices-premium:hover{
    transform: scale(1.12);
    transition-duration: 1.2s;
}
.last__prices-basic:hover{
    transform: scale(1.12);
    transition-duration: 1.2s;
}


.last__prices-basic, .last__prices-profe, .last__prices-premium{
    width: 372px;
    height: 461px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last__prices-profe-right,
.last__prices-premium-right{
    margin-top: 38px;

}
.last__prices-basic-button, .last__prices-profe-button,
.last__prices-premium-button{
    margin-top: 435px;
    margin-left: auto;
}
.footer__imgs{
    padding-right: 100px;
}

.footer__imgs :first-child{
    margin-right: 8px;
    
}
.footer__logo-container2 p{
    padding-left: 61px;
}
#logo2{
    margin-left: 86px;
}

}


